html {
    background-color: #582C4D;
}
body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ECE2D0;
    padding: 1em;
}
img {
    max-width: 100%;
}
header, footer {
    color: #582C4D;
    background-color: #A26769;
    padding: 1em;
    text-align: center;
}
main {
    color: #582C4D;
}
nav {
    text-decoration: none;
    background-color: #D5B9B2;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li {
    padding: 15px;
    display: flex;
    flex: 1 1 auto;
}
nav ul li a {
    padding: 15px;
    color: #582C4D;
    font-size: 20px;
}
nav a:hover {
    color: #BFB5Af;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 15px;
}