@media only screen and (min-width: 35rem) {
  #logo-small {
    width: 100px;
  }
  .logo1 {
    margin-top: -150px;
  }
  .logo2 {
    margin-top: -150px;
  }
  .announcement {
    margin-top: -30px;
  }
  .home-grid {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 400px repeat(3, 200px);
  }

  .hero {
    grid-column: 1/4;
    grid-row: 1;
  }
  .weather .temp-move {
    margin-top: -100px;
  }

  .weather img {
    float: none;

  }

  .news-release {
    grid-row: 2;
    grid-column: 1/3;
  }

  .news-release p {
    font-size: 10pt;
  }

  .spotlights {
    grid-row: 3;
    grid-column: 1/3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    padding: 0;
  }

  .spotlight-1 {
    grid-column: 1;
    grid-row: 1;
    margin: 10px;
  }

  .spotlight-2 {
    grid-column: 2;
    grid-row: 1;
    margin: 10px;
  }

  .spotlight-3 {
    padding: 10px;
    color: white;
  }

  .event {
    grid-row: 4;
    grid-column: 1/2;
    line-height: 1em;
  }

  .weather {
    grid-row: 4;
    grid-column: 2/3;
  }
  nav button {
    display: none;
  }
  nav ul {
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }
  #hover:hover {
    box-shadow: 0 0 50px #333;
  }
}
