table {
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 5px 5px 10px lightblue;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(206, 219, 220);
}
body {
    margin-top: 3em;
}
th, td {
    padding: .5em;
    border: solid 1px lightblue;
}
.acme {
    background-color: lightblue;
}
.th {
    background-color: dodgerblue;
}
.dark {
    background-color: dodgerblue;
}
tfoot td:nth-child(1) {
    font-size: 10px;
}