@media (min-width: 1285px) {
    header {
        margin: auto;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 550px;
    }
    #section-1 {
        grid-column: 1;
        margin-left: 80px;
    }
    #section-2 {
        grid-column: 2;
        margin-right: 20px;
    }    
    #section-3 {
        grid-column: 3;
        margin-top: 0;
    }
    footer {
        max-width: 960px;
        margin-bottom: -20px;
        padding: 10px;
        margin: -1em;
    }
}