body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border: solid 2px blue;
    padding: 40px;
    border-radius: 8px;
}
main .cards img {
    border: 1px solid rgb(37, 37, 115)
}

main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 20px ;
}

h1 {
    text-align: center;
    color: rgb(30, 30, 93);
}

main {
  margin-left: 2rem;
  background-color: aliceblue;
}
html {
    background-color: darkgray;
}

img {
  width: auto;
  max-width: 325px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 1px solid #333;
}


